@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
body {
  background-repeat: no-repeat;
  height: 98.3vh;
  font-family: "Roboto Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #fff;
  -webkit-animation: backgroundChange 10s alternate ease-in-out infinite;
          animation: backgroundChange 10s alternate ease-in-out infinite;
  overflow: hidden;
}

.successSection {
  position: relative;
}

.successSection .successHeader {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 8rem;
  background-color: rgba(51, 51, 51, 0.452);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
}

@-webkit-keyframes backgroundChange {
  0% {
    background-color: #01EFAD;
  }
  20% {
    background-color: #00A0C3;
  }
  40% {
    background-color: #00B9B9;
  }
  60% {
    background-color: #00CDB4;
  }
  80% {
    background-color: #00DFAE;
  }
  100% {
    background-color: #01EFAD;
  }
}

@keyframes backgroundChange {
  0% {
    background-color: #01EFAD;
  }
  20% {
    background-color: #00A0C3;
  }
  40% {
    background-color: #00B9B9;
  }
  60% {
    background-color: #00CDB4;
  }
  80% {
    background-color: #00DFAE;
  }
  100% {
    background-color: #01EFAD;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-repeat: no-repeat;
    height: 98.3vh;
    width: 97vw;
    font-family: "Roboto Mono", monospace;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8rem;
    color: #fff;
    -webkit-animation: backgroundChange 10s alternate ease-in-out infinite;
            animation: backgroundChange 10s alternate ease-in-out infinite;
  }
  .successSection {
    position: relative;
  }
  .successSection .successHeader {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 8rem;
    background-color: rgba(51, 51, 51, 0.452);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
  }
  @-webkit-keyframes backgroundChange {
    0% {
      background-color: #01EFAD;
    }
    20% {
      background-color: #00A0C3;
    }
    40% {
      background-color: #00B9B9;
    }
    60% {
      background-color: #00CDB4;
    }
    80% {
      background-color: #00DFAE;
    }
    100% {
      background-color: #01EFAD;
    }
  }
  @keyframes backgroundChange {
    0% {
      background-color: #01EFAD;
    }
    20% {
      background-color: #00A0C3;
    }
    40% {
      background-color: #00B9B9;
    }
    60% {
      background-color: #00CDB4;
    }
    80% {
      background-color: #00DFAE;
    }
    100% {
      background-color: #01EFAD;
    }
  }
}
/*# sourceMappingURL=success.css.map */